* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* navigation-1 */

.navigation {
  min-width: 40em;

  background-color: #ffc0cb;
}

.navigation-list {
  display: flex;
  justify-content: center;

  padding-left: 0;
  margin: 0;

  list-style: none;
}

.navigation-item {
  margin: .25em 0;
  border-left: .125em solid red;
}

.navigation-item:first-child {
  border-left: 0;
}

.navigation-link {
  padding: 1em;

  display: block;

  color: #ff0000;
}

/* navigation-2 */

.navigation-list-2 {
  display: flex;
  justify-content: space-around;

  padding-left: 0;
  margin: 0;

  list-style: none;
}

.navigation-item-2 {
  margin: .25em 0;
  border-left: .125em solid red;
}

.navigation-item-2:first-child {
  border-left: 0;
}

.navigation-link-2 {
  padding: 1em 3em;

  display: block;

  color: #ff0000;
}

/* navigation-3 */

.navigation-3 {
  display: flex;
  min-width: 60em;

  background-color: #ffc0cb;
}

.navigation-list-3 {
  padding-left: 0;
  margin: 0;

  display: flex;
  justify-content: end;

  list-style: none;
}

.logo {
  display: flex;
  align-items: center;

  margin-right: auto;
  padding: 0 1em 0 1em;

  background-color: #ff0000;
  color: white;
  font-size: 2em;
  font-weight: 800;
  text-decoration: underline;
}

.navigation-item-3:first-child {
  margin: .25em 0;
  border-left: .125em solid red;
}

@media (max-width:960px) {
  .logo {
    display: flex;
    width: 100%;
  }

  .navigation-3 {
    flex-direction: column;
    text-align: center;
  }
}