* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* navigation-1 */

.navigation {
  min-width: 40em;

  background-color: #ffc0cb;
}

.navigation-list {
  padding-left: 0;

  display: flex;
  justify-content: center;

  list-style: none;
}

.navigation-item {
  margin: .25em 0;
  border-left: .125em solid red;
}

.navigation-item:first-child {
  border-left: 0;
}

.navigation-link {
  padding: 1em;

  display: block;

  color: #ff0000;
}

/* navigation-2 */

.navigation-list-2 {
  padding-left: 0;

  display: flex;
  justify-content: space-around;

  list-style: none;
}

.navigation-item-2 {
  margin: .25em 0;
  border-left: .125em solid red;
}

.navigation-item-2:first-child {
  border-left: 0;
}

.navigation-link-2 {
  padding: 1em 3em;

  display: block;

  color: #ff0000;
}

