<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- link foglio di stile -->
  <link rel="stylesheet" href="layout.css">
  <title> Layout </title>

</head>

<body class="center">

  <div class="wrapper-2">

    <section class="width">
      <nav class="navigation-3">
        <span class="logo">Site Title</span>
        <ul class="navigation-list-3">
          <li class="navigation-item-3"><a class="navigation-link-2" href="#">Item 1</a></li>
          <li class="navigation-item-2"><a class="navigation-link-2" href="#">Item 2</a></li>
          <li class="navigation-item-2"><a class="navigation-link-2" href="#">Item 3</a></li>
          <li class="navigation-item-2"><a class="navigation-link-2" href="#">Item 4</a></li>
        </ul>
      </nav>
    </section>

    <section class="flex">
      <nav class="navigation-bar-2">
        <h1>Nav</h1>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Clients</a></li>
          <li><a href="#">Contact Us</a></li>

        </ul>
      </nav>

      <main class="justify-content-2">
        <article>
          <h1 class="margin">Main content</h1>
          <h2 class="margin">I'm the first in the source order.</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Nostrum temporibus consequatur ipsam quisquam commodi ad ea numquam tempore?
            Tempore nemo ad porro molestiae voluptatibus quod eius assumenda fugit magnam ullam.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          </p>

          <p>Nostrum temporibus consequatur ipsam quisquam commodi ad ea numquam tempore?
            Tempore nemo ad porro molestiae voluptatibus quod eius assumenda fugit magnam ullam.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          </p>

          <p>Nostrum temporibus consequatur ipsam quisquam commodi ad ea numquam tempore?
            Tempore nemo ad porro molestiae voluptatibus quod eius assumenda fugit magnam ullam.
          </p>
        </article>

        <footer>
          <p>Copyright <span>&#169;</span> 2017</p>
        </footer>
      </main>

      <aside class="min-height">
        <h1>Sidebar</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Natus sequi fugit earum laboriosam quibusdam corporis nobis officia id nisi tempore provident suscipit
          consequatur,
          adipisci tempora obcaecati dolorem ex quisquam illo!</p>
      </aside>

    </section>

  </div>



</body>

</html>